* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    /* border: medium solid red; */
}

.majNav {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    border: 20px;
}

.nav-con {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;

}

.but-par {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 20px;

}

.but-par button {
    background-color: #a33bfd;
    color: #fcfafe;
    border-radius: 50%;
    font-size: 30px;
    padding: 15px;
    display: flex;
    border: none;
    justify-content: space-around;
    gap: 10px;
}

.but-par p {
    color: #18181b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    gap: 10px;
}

.bar-con {
    display: flex;
    gap: 30px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.about:hover {
    background-color: #cfcfcf;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 50px;
}

.sec-but button {
    background-color: #a33bfd;
    border: none;
    padding: 15px;
    color: #fcfafe;
    border: radius 20px;
    font-size: 15px;
}

.thrd-but button {
    background-color: #a33bfd;
    border: none;
    padding: 15px;
    color: #fcfafe;
    border: radius 20px;
    font-size: 20px;
    font-weight: bolder;
}

.thrd-but:hover button {
    background-color: #4B0082;
}

.intro {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    background-color: #fffcff;
    align-items: center;
}

.container {
    display: flex;
    gap: 100px;
    margin-bottom: 200px;

}

.intro-msg {
    margin-top: 150px;
}

.intro img {
    margin-top: 150px;
    border-radius: 15px;
    width: 530px;
    height: 600px;
    box-shadow: 2px 2px 10px black;
}

.intro-msg h1 {
    font-size: 70px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.intro-msg p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 100;
}

.intro button {
    background-color: #a33bfd;
    border: none;
    padding: 15px;
    color: #fcfafe;
    border: radius 20px;
    font-size: 20px;
    font-weight: bolder;
}

.intro-msg:hover button {
    background-color: #4B0082;
}

.Rev-But button {
    margin-top: 180px;
    padding: 25px;
    background-color: #f6ebfe;
    font-size: 25px;
    font-weight: bold;
    border: none;
    color: #18181b;
}

.Rev-But p {
    color: #6f84a3;
    font: size 10px;
    font-size: 15px;
    font-weight: 400;
}

.wrk-intro {
    background-color: #ffffff;
    box-shadow: 2px 2px 7px gray;
    display: flex;
    gap: 150px;
    border: 20px;
    padding: 40px;
    border-radius: 20px;
    justify-content: space-around;
    margin-left: 100px;
    margin-bottom: 100px;
    width: 80%;
    height: 600px;
}

.links {
    width: 400px;
    box-shadow: 2px 2px 7px gray;
    height: 450px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.div-links {
    width: 400px;
    height: 450px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #f0f1f3;
}

.div-links img{
    width: 400px;
}

.down-div {
    background-color: white;
    width: 250px;
    height: 85px;
    border-radius: 5px;
    box-shadow: 2px 2px 7px gray;
    margin-left: 70px;
    margin-bottom: 50px;
    top: 150px;
    background-color: white;
}

.div-txt {
    margin-top: 60px;
}

.div-txt h1 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.div-txt p {
    color: #8e959f;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    margin-bottom: 20px;
    margin-top: 20px;

}

.butts {
    display: flex;
    gap: 20px;

}

.butt-one button {
    background-color: #a33bfd;
    border: none;
    padding: 15px;
    color: #fcfafe;
    border: radius 20px;
    font-size: 20px;
    font-weight: bolder;
}

.butt-two button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f1f3;
    border: 30px;
    padding: 15px;
    color: #18181b;
    border: radius 20px;
    font-size: 20px;
    font-weight: bolder;
    margin-right: 10px;
    box-shadow: 2px 2px 10px #f0f1f3;
}


.wrk-mthd {
    background-color: #f0f1f3;
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    width: 1536px;
    height: 900px;
}

.wrk-mthd h2 {
    margin-top: 300px;
    color: #18181b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin-bottom: 30px;
}

.wrk-mthd p {
    color: #6a7282;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    font-size: 20px;
}

.box-container {
    margin-top: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    row-gap: 20px;
}

.box {
    /* justify-content: center; */
    align-items: center;
    width: 300px;
    height: auto;
    border: thin solid none;
    border-radius: 10px;
    padding: 15px;
    background-color: white;
    box-shadow: 2px 2px 3px white;
}
.box-image{
    font-size: 40px;
    margin-top: 20px;
}
.text{
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;

}

    .right-div{
          width: 300px;
    height: 200px;
    margin-top: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 15px;
    flex-direction:;
    }
    /* display: grid; */
/* background-color: #ffffff; */

/* .left-div{ 
        
        width: 300px; 
    height: 280px;
    margin-top: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 15px;
    display: flex;
    /* background-color: #ffffff; */
/* grid-template-columns: 1fr, 1fr;  */

/* .topic-con{ */
    display: flex;
    justify-content: space-around;;
/* } */
.topic{
    /* justify-content: center; */
    align-items: center;
    /* display: flex; */
}

.topic h1 {
    color: #18181b;
    font-size: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;

}

.topic p {
    color: #9ca8b9;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
}

.PAD-con {
    display: grid;
     grid-template-columns:repeat(3, 1fr) ;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    height: 700.25px; 
    width: 424px;
    background-color: white;

}

.PAD {
    margin-top: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    /* width: 400px; */
    /* height: 250px; */

}
.case-but button{

}

.port-but button {
    background-color: #a33bfd;
    border: none;
    padding: 10px;
    color: #fcfafe;
    border: radius 20px;
    font-size: 15px;
    font-weight: bolder;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PAD img {
    /* width: 422.39px; */
    width: 222.39;
    height: 247.06px;
}
.work-together{
    width: 1700px;
    height: 500px;
    background-color: #101828;
}
.work-together h1{
    color: #ffffff;
      font-family:work sans-serif;
      font-size: 40px ;
      text-align: center;
    margin-top: 150px;

}
.work-together p{
    color: #a5aca8;
    font-family:work sans-serif;
    font-size: 17px;
    text-align: center;
    margin-top:50 px;
}

.work-together button{
    border-radius: 5px;
    background-color: #a33bfd;
    color:  white;
    padding: 15px;
    align-items: center;
    justify-content: space-around;

}